<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .box {
            height: 200px;
            width: 200px;
            margin: 15px;
            border: solid black 2px;
            border-radius: 5px;

        }
    </style>
</head>
<body>
    <div class="main">
        {% for x in range(0,amount) %}
            <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>